html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: placeholder: this should be the rest of the output you got from Google fonts
}

h1 {
  margin: 0 auto;
  padding: 10px 0;    
  color: white;
  text-align: center;
  border : 5px solid black;
  width : 700px;
}

a {
	padding : 20px 0;
	margin : 5px;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}



img {
  display: block;
  margin: 0 auto;
}

html {
  background-color: #00FF80;
  background-image: url("http://swipecity.xyz/images/base-header.png");
}

body {
  width: 600px;
  margin: 0 auto;
}